@media screen and (min-width: 1440px) {
  .popup-menu-bg {
    width: 35%;
  }
}

@media screen and (max-width: 321px) {
  .container {
    padding: 0 15px;
  }

  .btn-gradient {
    font-size: 16px;
    padding: 18px 14px;
  }

  .btn-transparent {
    font-size: 15px;
    padding: 18px 14px;
  }

  .section-title {
    font-size: 30px;
  }

  .main {
    .header {
      .phone {
        display: none;
      }
    }

    .hero {
      .container {
        grid-template-columns: 1fr;
      }

      .scroll-down {
        display: none;
      }

      .hero__info {
        .hero__title {
          font-size: 26px;
        }

        .hero__description {
          font-size: 14px;
        }

        .hero__btn {
          width: 228px;
        }
      }

      .hero__social {
        display: none;
      }
    }
  }

  .projects {
    padding: 40px 0;

    .projects__project {
      padding: 40px 0;
      flex-flow: wrap;
      flex-direction: column;

      .project__image {
        order: 2;
        grid-template-rows: 185px 70px;
        grid-gap: 12px;
      }

      .project__info {
        display: flex;
        flex-direction: column;

        .project__title {
          order: 1;
          font-size: 18px;
          margin-bottom: 25px;
        }

        .project__description {
          order: 3;
          margin: 30px 0 40px;
          font-size: 14px;
        }

        .project__circles {
          order: 4;

          .circles__circle {
            width: 85px;
            height: 85px;
            padding: 8px;

            .circle__text {
              font-size: 15px;
            }
          }
        }

        .project__buttons {
          order: 5;
        }
      }
    }

    .see-more {
      .see-more__text {
        font-size: 15px;
      }

      .see-more__arrow {
        width: 12px;
        height: 7px;
      }
    }
  }

  .tech {
    padding: 45px 0 0;

    .tech__title {
      margin-bottom: 42px;
    }

    .house-schema {
      padding-bottom: 40px;

      .house-schema__image-img {
        max-width: 290px;
      }

      .schema__info-block {
        display: none;
        position: static;
        margin-top: 15px;
        padding: 20px 15px;
        background-color: $card-color;
        max-width: 100%;

        &.active {
          display: block;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 25px;
          height: 25px;
          box-shadow: inset 3em 3em $card-color;
          clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
        }

        .info-block__title {
          font-size: 16px;
        }

        .info-block__description {
          font-size: 14px;
        }
      }

      .info-block__cursor {
        display: none;
      }

      .mobile-circle-cursor {
        display: block;
        width: 75px;
        height: 75px;
        position: absolute;
        background-image: url("../../public/images/cursors/mobile-cursor.png");
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;

        &.active {
          background-image: url("../../public/images/cursors/mobile-cursor-active.png");
        }
      }

      .mobile-card-cursor {
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 90px;
        left: 0;
      }

      #mobileCursor1 {
        top: 40px;
        left: 0;
      }

      #mobileCursor2 {
        top: 130px;
        left: 40px;
      }

      #mobileCursor3 {
        top: 205px;
        left: 90px;
      }

      #mobileCursor4 {
        top: 130px;
        right: 50px;
      }

      #mobileCursor5 {
        top: 50px;
        right: 20px;
      }

      #infoBlock1 {
        &::before {
          bottom: 167px;
          left: 25px;
        }
      }

      #infoBlock2 {
        &::before {
          bottom: 185px;
          left: 63px;
        }
      }

      #infoBlock3 {
        &::before {
          bottom: 203px;
          left: 115px;
        }
      }

      #infoBlock4 {
        &::before {
          bottom: 167px;
          right: 75px;
        }
      }

      #infoBlock5 {
        &::before {
          bottom: 149px;
          right: 45px;
        }
      }
    }
  }

  .steps {
    padding: 40px 0;
  }
}
