@media screen and (min-width: 1440px) {
  .popup-menu-bg {
    width: 35%;
  }
}

@media screen and (max-width: 321px) {
  .container {
    padding: 0 15px;
  }

  .btn-gradient {
    font-size: 16px;
    padding: 18px 14px;
  }

  .btn-transparent {
    font-size: 14px;
    padding: 18px 12px;
  }

  .section-title {
    font-size: 30px;
    font-weight: 400;
  }

  .main {
    .header {
      .phone {
        display: none;
      }
    }

    .hero {
      .container {
        grid-template-columns: 1fr;
      }

      .scroll-down {
        display: none;
      }

      .hero__info {
        .hero__title {
          font-size: 26px;
        }

        .hero__description {
          font-size: 14px;
        }

        .hero__btn {
          width: 228px;
        }
      }

      .hero__social {
        display: none;
      }
    }
  }

  .projects {
    padding: 40px 0;

    .projects__project {
      padding: 40px 0;
      flex-flow: wrap;
      flex-direction: column;

      .project__image {
        order: 2;
        grid-template-rows: 185px 70px;
        grid-gap: 12px;
      }

      .project__info {
        display: flex;
        flex-direction: column;

        .project__title {
          order: 1;
          font-size: 18px;
          margin-bottom: 25px;
        }

        .project__description {
          order: 3;
          margin: 30px 0 40px;
          font-size: 14px;
        }

        .project__circles {
          order: 4;

          .circles__circle {
            width: 85px;
            height: 85px;
            padding: 8px;

            .circle__text {
              font-size: 15px;
            }
          }
        }

        .project__buttons {
          order: 5;
        }
      }
    }

    .see-more {
      .see-more__text {
        font-size: 15px;
      }

      .see-more__arrow {
        width: 12px;
        height: 7px;
      }
    }
  }

  .tech {
    padding: 45px 0 0;

    .tech__title {
      margin-bottom: 42px;
    }

    .house-schema {
      padding-bottom: 40px;

      .house-schema__image-img {
        max-width: 290px;
      }

      .schema__info-block {
        display: none;
        position: static;
        margin-top: 15px;
        padding: 20px 15px;
        background-color: $card-color;
        max-width: 100%;

        &.active {
          display: block;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 25px;
          height: 25px;
          box-shadow: inset 3em 3em $card-color;
          clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
        }

        .info-block__title {
          font-size: 16px;
        }

        .info-block__description {
          font-size: 14px;
        }
      }

      .info-block__cursor {
        display: none;
      }

      .mobile-circle-cursor {
        display: block;
        cursor: pointer;
        width: 75px;
        height: 75px;
        position: absolute;
        background-image: url("../../public/images/cursors/mobile-cursor.png");
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;

        &.active {
          background-image: url("../../public/images/cursors/mobile-cursor-active.png");
        }
      }

      .mobile-card-cursor {
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 90px;
        left: 0;
      }

      #mobileCursor1 {
        top: 40px;
        left: 0;
      }

      #mobileCursor2 {
        top: 130px;
        left: 40px;
      }

      #mobileCursor3 {
        top: 205px;
        left: 90px;
      }

      #mobileCursor4 {
        top: 130px;
        right: 50px;
      }

      #mobileCursor5 {
        top: 50px;
        right: 20px;
      }

      #infoBlock1 {
        &::before {
          bottom: 167px;
          left: 25px;
        }
      }

      #infoBlock2 {
        &::before {
          bottom: 185px;
          left: 63px;
        }
      }

      #infoBlock3 {
        &::before {
          bottom: 203px;
          left: 115px;
        }
      }

      #infoBlock4 {
        &::before {
          bottom: 167px;
          right: 75px;
        }
      }

      #infoBlock5 {
        &::before {
          bottom: 149px;
          right: 45px;
        }
      }
    }
  }

  .steps {
    padding: 45px 0;

    .steps__cards {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
      grid-template-rows: unset;
      margin-left: unset;

      .card__title {
        font-size: 16px;
      }

      .card__description {
        font-size: 16px;
      }
    }
  }

  .slider {
    padding: 45px 0 60px;

    .slider__title {
      margin-bottom: 40px;
    }

    .slider__items {
      .slider__item {
        .item__content {
          .item__image-left {
            display: none;
          }

          .item__image-right {
            display: none;
          }

          .slider__item-center {
            max-width: 290px;

            .item__image-center {
              width: 290px;
              height: 300px;
            }

            .slider__item-text {
              padding: 15px;
              grid-template-columns: 144px 1px 144px;

              .item__title {
                font-size: 14px;
              }

              .item__description {
                font-size: 14px;
              }

              .text-left {
                padding-right: 10px;
              }

              .text-right {
                padding-left: 20px;

                .item__text-key {
                  display: none;
                }

                .item__text-value {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .glide__arrows {
        display: none;
      }
      
      .glide__bullets {
        bottom: -30px;
      }
    }
  }

  .guarantees {
    padding-bottom: 50px;

    .guarantees__title {
      margin-bottom: 40px;
    }

    .guarantees__cards {
      margin-bottom: 40px;
      flex-direction: column;
      gap: 20px;

      .guarantees__card {
        padding: 20px 5px 20px 20px;
        gap: 20px;

        .card__title {
          font-size: 16px;
        }

        .card__description {
          font-size: 14px;
        }
      }
    }

    .guarantees__benefits {
      grid-template-columns: 1fr;
      grid-row-gap: 40px;

      .guarantees__benefit {
        .benefit__circle {
          width: 100px;
          height: 100px;

          .benefit__image-img {
            height: 50px;
          }
        }

        .benefit__title {
          font-size: 16px;
        }

        .benefit__description {
          font-size: 16px;
        }
      }
    }
  }

  .consultation {
    padding: 50px 0;

    .consultation__image {
      display: none;
    }
    .consultation__form {
      .consultation__form-form {
        .form__input {
          font-size: 16px;
        }
      }
    }
  }

  .map {
    padding: 20px 0 90px;
    -webkit-background-size: cover;
    background-size: cover;

    .location-mark {
      display: none;
    }

    .map__content {
      .map__title {
        font-size: 30px;
      }

      .map__description {
        font-size: 16px;
      }

      .map__btn {
        width: 100%;
      }
    }
  }

  .footer {
    padding: 50px 0 80px;

    .container {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;

      .footer__address {
        order: 2;
        font-size: 16px;
        text-align: center;

        .address__address {
          margin-bottom: 17px;
        }
      }

      .footer__logo-social {
        order: 1;

        .footer__logo {
          margin-bottom: 40px;
        }
      }

      .footer__phone {
        order: 3;
        
        .phone__number {
          text-align: center;
        }
        .phone__order-a-call {
          justify-content: center;
        }
      }
    }
  }

  .popup-menu-bg {
    .menu {
      grid-template-columns: 2fr 1fr;
      max-width: 290px;
      overflow-y: scroll;
      overflow-x: visible;

      .menu__bar {
        overflow: visible;

        .menu__title {
          font-size: 35px;
        }

        .popup__phone {
          display: block;

          .phone__number {
            text-align: left;
          }
          .phone__order-a-call {
            justify-content: left;
          }
        }
      }
    }
  }
}
