@font-face {
  font-family: 'Neumann';
  font-weight: 400;
  font-style: normal;
  src: url("../../public/fonts/td-neumann.otf");
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 100;
  font-style: normal;
  src: url('../../public/fonts/museosanscyrl-100.woff2');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 300;
  font-style: normal;
  src: url('../../public/fonts/museosanscyrl-300.woff2');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 500;
  font-style: normal;
  src: url('../../public/fonts/museosanscyrl-500.woff2');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/museosanscyrl-700.woff2');
}