.location-mark {
  position: absolute;

  opacity: 0.7;
  transform: scale(1);
  transition: .3s ease-out;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

#point1 {
  top: -62px;
  left: 110px;
}

#point2 {
  top: 87px;
  left: 80px;
}

#point3 {
  top: 20px;
  left: 180px;
}

#point4 {
  top: 100px;
  left: 201px;
}

#point5 {
  top: 60px; // -270px
  left: 236px; // -120px
}

#point6 {
  top: 135px; // -270px -105px
  left: 280px;
}

#point7 {
  top: 30px; // -270px -15px
  right: 308px; // -120px
}

#point8 {
  top: 188px;
  right: 260px;
}

#point9 {
  top: 228px;
  right: 218px;
}

#point10 {
  top: 123px;
  right: 215px;
}

#point11 {
  top: -85px;
  right: 195px;
}

