@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $museo-font;
  font-size: $std-font-size;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// for gradient max compatibility in bg-gradient style. Do not include it as a mixin.
// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcc372",endColorstr="#f0dbbc",GradientType=1);

.main {
  background-image: url("../../public/images/bg.png");
  background-position: center;
  background-size: cover;
}

.header {
  padding: 20px 0 10px;
  border-bottom: 1px solid $header-border;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
}

.burger {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 30px;

  .burger__line {
    @include burger-styles;
    position: relative;

    &::before {
      @include burger-styles;
      content: '';
      position: absolute;
      top: -10px;
    }

    &::after {
      @include burger-styles;
      content: '';
      position: absolute;
      top: 10px;
    }
  }
}

.logo {
  display: block;
  text-align: center;
  width: 100px;
  height: 70px;

  .logo__image {
    display: block;
    margin: 0 auto;
    padding-right: 5px;
  }

  .logo__text {
    margin-top: 3px;
    font-family: $neumann-font;
    font-weight: $regular-font;
    color: $white-color;
    line-height: 1;
  }
}

.phone {
  .phone__number {
    display: block;
    font-weight: 700;
    color: $white-color;
    text-align: right;
    margin-bottom: 8px;
  }

  .phone__order-a-call {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .order-a-call__icon {
      .order-a-call__icon-img {
        margin: -10px;
      }
    }

    .order-a-call__text {
      font-weight: 700;
      color: $yellow-color;
      font-size: 16px;
    }
  }
}

.hero {
  padding: 162px 0 144px;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.scroll-down {
  display: flex;
  gap: 30px;
  transform: rotate(-90deg) translateY(42px);

  .scroll-down__text {
    color: $scroll-down-color
  }
}

.hero__info {
  max-width: 580px;
  text-align: center;

  .hero__title {
    @include neumann-heading;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .hero__description {
    font-family: $museo-font;
    font-weight: 700;
    color: $white-color;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .hero__btn {
    @include yellow-gradient;
    font-family: $museo-font;
    font-size: $std-font-size;
    color: $btn-text;
    padding: 21px;
    width: 300px;
    border-radius: 40px;
  }
}

