@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $museo-font;
  font-size: $std-font-size;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// for gradient max compatibility in bg-gradient style. Do not include it as a mixin.
// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcc372",endColorstr="#f0dbbc",GradientType=1);

.main {
  background-image: url("../../public/images/bg.png");
  background-position: center;
  background-size: cover;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.burger {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 30px;

  .burger__line {
    @include burger-styles;
    position: relative;

    &::before {
      @include burger-styles;
      content: '';
      position: absolute;
      top: -8px;
    }
    &::after {
      @include burger-styles;
      content: '';
      position: absolute;
      top: 8px;
    }
  }
}

.logo {
  display: block;
  text-align: center;
  width: 100px;
  height: 70px;

  .logo__image {
    display: block;
    margin: 0 auto;
    padding-right: 5px;
  }

  .logo__text {
    margin-top: 3px;
    font-family: $neumann-font;
    font-weight: $regular-font;
    color: $white-color;
  }
}

.phone {
  .phone__number {
    display: block;
    font-weight: 700;
    color: $white-color;
    text-align: right;
  }

  .phone__order-a-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-a-call__icon {
    .order-a-call__icon-img {
      margin-right: -10px;
    }
  }

  .order-a-call__text {
    font-weight: 700;
    color: $yellow-color;
    font-size: 16px;
  }
}