.popup-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: $bg-blue;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: none;
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background-clip: border-box;
}

.menu__bar {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: $bg-blue;

  .close-btn {
    cursor: pointer;
  }

  .popup__phone {
    display: none;
  }
}

.menu__title {
  color: $white-color;
  font-size: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.menu__items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;

  .menu__item {
    .menu__item-a {
      color: $white-color;
    }

    &.active {
      color: $yellow-color;

      .menu__item-a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $yellow-color;

        &::before {
          content: '';
          width: 5px;
          height: 5px;
          margin-right: 12px;
          border-radius: 50%;
          background-color: $yellow-color;
        }
      }
    }
  }
}

.menu__social {
  margin-top: 20px;
  flex-direction: row;
}