@import "fonts";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


$regular-font: 400;
$std-font-size: 18px;
$neumann-font: 'Neumann', 'Museo Sans Cyrl', sans-serif;
$museo-font: 'Museo Sans Cyrl', sans-serif;

@mixin neumann-heading {
  font-family: $neumann-font;
  color: $yellow-color;
  line-height: 1.2;
  text-align: center;
}

$yellow-color: #ecc66b;
$white-color: #ffffff;
$gradient: 90deg, rgba(252,195,114,1) 0%, rgba(240,219,188,1) 100%;
$gradient-main-rgb: rgb(252,195,114);
$header-border: #363d51;
$footer-border: rgb(47, 47, 56);
$scroll-down-color: #BABABAFF;
$see-more-color: rgb(137, 137, 138);
$btn-text: rgb(37, 37, 45);
$bg-blue: #25252d;
$steps-number-color: #393943;
$card-color: #313139;
$error-color: #c92f44;


@mixin background-gradient($gradient, $main-color) {
  background: $main-color;
  background: -moz-linear-gradient($gradient);
  background: -webkit-linear-gradient($gradient);
  background: linear-gradient($gradient);
}

@mixin yellow-gradient {
  @include background-gradient($gradient, $gradient-main-rgb)
}

@mixin burger-styles {
  display: block;
  width: 40px;
  height: 2px;
  background-color: $white-color;
}

body {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: $std-font-size;
  font-weight: 300;
  background-color: $bg-blue;
  color: $white-color;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
  font-family: $museo-font;
  font-size: $std-font-size;
  font-weight: 700;
  padding: 21px;
  border-radius: 40px;
}

.title {
  @include neumann-heading;
}

.section-title {
  font-size: 40px;
}

.btn-gradient {
  @include yellow-gradient;
  color: $bg-blue;
}

.btn-transparent {
  border: 1px solid $white-color;
  color: $white-color;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: $bg-blue;
  /* Not removed via appearance */
  margin: 5px 0 0;
  cursor: pointer;

  flex-shrink: 0;
  font: inherit;
  color: $white-color;
  width: 20px;
  height: 20px;
  border: 1px solid $white-color;

  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $white-color;

    /* Windows High Contrast Mode */
    background-color: $white-color;

    transform-origin: bottom left;
    clip-path: polygon(0 68%, 32% 100%, 100% 17%, 94% 11%, 32% 87%, 6% 62%);
  }

  &:checked::before {
    transform: scale(1.5);
  }
}

.yellow-text {
  color: $yellow-color;
}